.services {
  margin-top: 113px;

  &__content {
    text-align: center;
    margin: 0 auto;
    max-width: 952px;
  }

  &__title {
    font-family: "Mulish";
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
  }

  &__line {
    max-width: 56px;
    font-weight: 700;
    margin: 26px auto 26px;
  }

  &__text {
    font-family: "Mulish";
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    color: #7d7987;
  }

  &__list {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 34px;
  }

  &__item {
    max-width: 350px;
    padding-left: 39px;
    padding-bottom: 46px;
    padding-right: 45px;
    padding-top: 54px;
    box-shadow: 10px 40px 50px 0px #e5e9f666;
    border-radius: 20px;

    &--img {
      max-width: 92px;
      height: 90px;
      display: block;
    }

    &--title {
      font-family: "Mulish";
      font-size: 24px;
      font-weight: 700;
      line-height: 56px;
      text-align: left;
      color: #000000;
      margin-top: 22px;
    }

    &--text {
      font-family: "Mulish";
      font-size: 16px;
      font-weight: 300;
      line-height: 28px;
      text-align: left;
      color: #7d7987;
    }
  }

  &__link {
    font-family: "Mulish";
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    color: #458ff6;
    border: 1.4px solid #458ff6;
    border-radius: 55px;
    padding: 0 51px;
    display: inline-block;

    &--div {
      margin-top: 69px;
      display: flex;
      justify-content: center;
    }
  }
}
