.virrual__content {
    width: 445px;
    height: 338px;
    margin-left: 45px;
    margin-top: 30px;
}

.virtual__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.virrual__btn{
width: 200px;
height: 56px;
gap: 0px;
border-radius: 55px;
color: #458FF6;    
}